

* {
    box-sizing: border-box;
}

.tp-nav-bar-container {
    background-color: #24292e;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.tp-nav-bar-wrapper {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
}

.tp-na-bar-links {
    width: 620px;
    height: inherit;
    float: left;
    ul {
        margin: 0;
        padding: 0;
        height: inherit;
    }
    li {
        color: white;
        display: inline-block;
        list-style-type: none;
        margin: 16px 30px;

        a {
            display: block;
            color: rgba(255,255,255,0.75);
            text-decoration: none;
            background-color: transparent;

            &:hover {
                color: #fff;
                text-decoration: none;
            }

            span {
                padding-right: 3px;
            }
        }
    }
}

.tp-background-icon {
    max-width: 50px;
    max-height: 50px;
    display: block;
    float: left;
    border: 1px solid white;
    border-radius: 50%;
    margin: 7px 0;
    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: block;

        a {
            display: block;
            text-decoration: none;
            background-color: transparent;
        }
    }
}

.tp-sign-in {
    width: 50px;
    float: right;

    button {
        border: 0;
        float: right;
        padding: 0;
        margin: 6px 0;
        border-radius: 50%;
        max-width: 38px;
        max-height: 38px;

        &:hover {
            box-shadow: 0px 0px 9px 2px #e0d9d9;
        }
    }
    img {
        width: 38px;
        height: 38px;
    }
}

.tp-search-bar {
    float: left;
    width: 200px;
    padding: 10px 0;
    position: relative;

    input {
        width: 200px;
        height: 30px;
        border-radius: 3px;
        border: 0;
        font-size: 19px;
        padding-left: 5px;
    }

    button {
        position: absolute;
        top: 14px;
        left: 165px;
        border: 0;
    }
}