* {
  box-sizing: border-box; }

.tp-background-icon {
  max-width: 50px;
  max-height: 50px;
  display: block;
  float: left;
  border: 1px solid white;
  border-radius: 50%;
  margin: 7px 0 0 10px; }
  .tp-background-icon img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: block; }
    .tp-background-icon img a {
      display: block;
      text-decoration: none;
      background-color: transparent; }
    .tp-background-icon img:hover {
      box-shadow: 0px 0px 9px 2px #e0d9d9; }

.tp-nav-bar-container {
  background-color: #24292e;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }

.tp-nav-bar-wrapper {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  height: inherit; }

.tp-nav-bar-links {
  width: 620px;
  height: inherit;
  float: left; }
  .tp-nav-bar-links ul {
    margin: 0;
    padding: 0;
    height: inherit; }
  .tp-nav-bar-links .tp-nav-list {
    color: white;
    display: inline-block;
    list-style-type: none;
    margin: 16px 30px;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    background-color: transparent; }
    .tp-nav-bar-links .tp-nav-list:hover {
      color: #fff;
      text-decoration: none; }

.tp-search-bar {
  float: left;
  width: 200px;
  padding: 10px 0;
  position: relative; }
  .tp-search-bar input {
    width: 200px;
    height: 30px;
    border-radius: 3px;
    border: 0;
    font-size: 19px;
    padding-left: 5px; }
  .tp-search-bar button {
    position: absolute;
    top: 13px;
    left: 165px;
    border: 0;
    background-color: white; }

.tp-sign-in {
  width: 50px;
  float: right;
  padding-right: 10px; }
  .tp-sign-in > button {
    border: 0;
    float: right;
    padding: 0;
    margin: 6px 0;
    border-radius: 50%;
    max-width: 38px;
    max-height: 38px; }
    .tp-sign-in > button:hover {
      box-shadow: 0px 0px 9px 2px #e0d9d9; }
  .tp-sign-in img {
    width: 38px;
    height: 38px;
    border: 1px solid white;
    border-radius: 50%; }

.tp-sign-in-dropdown {
  display: block;
  border: 1px solid;
  background-color: darkgrey;
  width: 300px;
  position: absolute;
  top: 50px;
  margin-left: -123px;
  height: 276px;
  border-radius: 6px; }
  .tp-sign-in-dropdown.show {
    display: block; }
  .tp-sign-in-dropdown.hide {
    display: none; }

.tp-sign-in-formwrapper {
  width: 277px;
  margin: auto; }

.tp-sign-in-email label, .tp-sign-in-password label {
  padding-top: 10px;
  font-size: 14px; }

.tp-sign-in-form {
  position: relative;
  float: right;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 22px 10px 2px 10px;
  font-size: 17px; }

.tp-sign-in-eyebrow {
  position: absolute;
  top: 48px;
  left: 20px;
  color: #888;
  pointer-events: none;
  padding: 0;
  z-index: 1;
  transition-timing-function: ease-in;
  transition-duration: .125s; }

.tp-sign-in-form:focus ~ .tp-sign-in-eyebrow {
  top: 39px;
  font-size: 13px; }

.tp-sign-in-button {
  margin-top: 27px;
  padding: 10px 36px; }

.tp-log-in-button {
  border: 0;
  margin-top: 27px;
  padding: 10px 36px;
  float: right; }

.tp-button {
  padding: 10px 36px;
  background-color: #0070c9;
  background: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #07c;
  border-radius: 4px;
  color: white;
  cursor: pointer; }
  .tp-button:hover {
    background-color: #147bcd;
    background: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0;
    text-decoration: none; }

.tp-forget-password {
  display: block;
  margin-top: 7px;
  color: #0070c9;
  float: right; }
  .tp-forget-password:hover {
    color: #1482d0; }

.tp-body-content {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 120px; }

body {
  background-image: url("images/light-backgrounds.jpg"); }

.as-l-container {
  width: 980px;
  margin-left: auto;
  margin-right: auto; }

.tp-carousal-wrapper .carousel:last-child {
  display: none; }

.tp-carousal-wrapper .legend, .tp-carousal-wrapper .carousel-status {
  display: none; }

.slider-wrapper.axis-horizontal {
  height: 350px; }

.carousel.carousel-slider {
  top: 60px; }

.tp-latest-news {
  position: relative;
  top: 55px;
  height: 50px;
  border: 1px solid;
  border-radius: 3px;
  background-color: orange; }
  .tp-latest-news marquee {
    padding-top: 13px; }
